
h1 {
  font-weight: 700 !important;
}

h4, h6 {
  font-weight: 400;
}

h2, h3 {
  font-weight: 500;
}

//Hero Styles
.hero_section {
  background: linear-gradient(180deg, #1C2126 0%, #22282D 24.36%);

  .hero_section-inner {
    background: url(../imgs/y_home/bg_hero.png) center / cover no-repeat;

    .trusted-heading {
      position: relative;
    }

    .trusted-heading::after {
      content: " ";
      display: block;
      max-width: 92px;
      height: 8px;
      background-color: #ffffff;
      margin: 8px 0 16px;
    }

    .second-hero-row {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.technical_services, .soft_services {

  .cards-container {
    .cards-container-item {

      transition: transform 0.6s ease; /* smooth zoom */
      transform-origin: center center;
    }

    h5 {
      font-weight: 600;
    }

    .contact-bg {
      border-radius: 30px;
    }
  }

  .cards-container-item {
    margin-bottom: 60px;

    .span-div {
      border-radius: 30px;
      overflow: hidden;
      aspect-ratio: 3/2;
      background-size: 100%;
      background-position-y: top;
      background-position-x: center;
      transition: all .3s ease-in-out;

      span {
        left: 10px;
      }

    }

    &:hover .span-div {
      background-size: 120%;
    }

    .flip-badge {
      position: relative;
      display: inline-block;
      perspective: 600px; /* enable 3D space */
    }

    /* both faces */
    .flip-badge .front,
    .flip-badge .back {
      inset: 0;
      backface-visibility: hidden;
      transition: transform 0.6s ease;
    }


    /* Back → icon (custom in HTML) */
    .flip-badge .back {
      transform: rotateY(180deg);
    }

    /* Hover → flip badge */
    .span-div:hover .front {
      transform: rotateY(180deg);
    }

    .span-div:hover .back {
      transform: rotateY(360deg);
    }


    .technical_services-img {
      border-radius: 50px;
      object-fit: cover;
    }
  }
}

.engineer_section {
  background: url(../imgs/y_home/bg2.png) bottom no-repeat;
}

.engineer_img {
  box-shadow: 0 15px 15px gray;
}

.bg-shape1 {
  top: 30px;
  left: 30px;
}

.bg-shape2 {
  right: 30px;
  top: 105px;
}

.facility_managment {
  .facility_managment-img1 {
    object-fit: cover;
    border-radius: 20px;
    z-index: 3;
  }

  .facility_managment-img2 {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 75%, rgba(255, 255, 255, 0.00) 100%);
    left: 15px;
    border-radius: 20px;
    z-index: 3;
  }

  .facility_managment-bg1 {
    z-index: 1;
    top: -20px;
    background: #1C21261A;
  }

  .facility_managment-bg2 {
    z-index: 1;
    bottom: -20px;
    background: #1C21261A;

  }

  .icon-wrapper {
    width: 40px;
    height: 40px;
  }

  div > h6 {
    max-width: 518px;
  }

}

.reviews_section {
  border-radius: 50px;
  background: url(../imgs/y_home/reviews_bg.png) 50% / cover no-repeat, #1C2126;

  .cards_container {
    overflow-x: auto;
    scrollbar-width: none;

    .cards_container::-webkit-scrollbar {
      display: none; /* hide scrollbar Chrome/Safari */
    }

    .card-bg-light {
      flex: 0 0 312px; /* fixed width for each card */
      position: relative;
      border-radius: 24px;
      background: rgba(255, 255, 255, 0.14);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px); /* Safari support */
      .quote-icon {
        font-size: 75px;
      }


    }
  }

}

.contain-card-txt {
  bottom: 50px;
  text-align: center;

}

.blog-carousel .item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.scroll-btn {
  z-index: 10;
}

.scroll-bar {
  scrollbar-width: none;
}


.our_clients {
  border-radius: 50px;
  background: url(../imgs/y_home/reviews_bg.png) 50% / cover no-repeat, #1C2126;

  .card-bg-light {
    position: relative;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px); /* Safari support */
    padding: 48px;
  }

}

@media (min-width: 992px) {
  .hero_section {
    .hero_section-inner {

      .hero-txt {
        padding-top: 105px;
        padding-bottom: 105px;
      }

      .second-hero-row {

        padding-top: 220px;

        .trusted-heading::after {
          margin: 32px 0 !important;
        }
      }
    }

  }
  .cards_container {

    .card-bg-light {
      flex: 0 0 790px !important; /* fixed width for each card */
    }
  }


}


