
h1 {
  font-weight: 700 !important;
}

h4, h6 {
  font-weight: 400;
}

h2, h3 {
  font-weight: 500;
}

//Hero Styles
.hero_section {
  background: linear-gradient(180deg, #1C2126 0%, #22282D 24.36%);

  .hero_section-inner {
    background: url(../imgs/y_home/bg_hero.png) center / cover no-repeat;

    .trusted-heading {
      position: relative;
    }

    .trusted-heading::after {
      content: " ";
      display: block;
      max-width: 92px;
      height: 8px;
      background-color: #ffffff;
      margin: 8px 0 16px;
    }

    .second-hero-row {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.technical_services {

  .span-div {
    width: fit-content;
    top: 52px;
    left: -6px;
    border-radius: 0px 0px 40px 56px / 0px 0px 40px 0px;
  }

  .technical_services-img {
    border-radius: 50px 50px 80px 0 / 40px 40px 100px 0;

  }


}

.engineer_section {
  background: url(../imgs/y_home/bg2.png) bottom no-repeat;
}

.engineer_img {
  box-shadow: 0 15px 15px gray;
}

.bg-shape1 {
  top: -20px;
  left: -20px;
}

.bg-shape2 {
  left: 150px;
  top: 50px;
}

.facility_managment {
  .facility_managment-img1 {
    object-fit: cover;
    border-radius: 20px;
    z-index: 3;
  }

  .facility_managment-img2 {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 75%, rgba(255, 255, 255, 0.00) 100%);
    left: 15px;
    border-radius: 20px;
    z-index: 3;
  }

  .facility_managment-bg1 {
    z-index: 1;
    top: -20px;
    background: #1C21261A;
  }

  .facility_managment-bg2 {
    z-index: 1;
    bottom: -20px;
    background: #1C21261A;

  }

  .icon-wrapper {
    width: 40px;
    height: 40px;
  }

  div > h6 {
    max-width: 518px;
  }

}


@media (min-width: 992px) {
  .hero_section {
    .hero_section-inner {

      .hero-txt {
        padding-top: 105px;
        padding-bottom: 105px;
      }

      .second-hero-row {

        padding-top: 220px;

        .trusted-heading::after {
          margin: 32px 0 !important;
        }
      }
    }

  }

}

