nav {

  .o_dropdown_menu {
    background-color: var(--dark);

    a {
      background-color: var(--white);

      .text-primary {
        color: var(--primary) !important;
      }
    }

    a:hover {
      background-color: var(--primary);

      .text-primary {
        color: var(--dark) !important;
      }
    }
  }


  .active {
    color: var(--white) !important;
    font-weight: 600 !important;
  }


  background-color: #1c2126 !important;
  color: white !important;

  li {
    list-style: none;
  }

  form {
    .input-group {
      .input_search {
        border: 0.862px solid rgba(255, 255, 255, 0.6) !important;
        border-left: 0.862px solid rgba(255, 255, 255, 0.6) !important;
        background: rgba(255, 255, 255, 0.05) !important;
        backdrop-filter: blur(4px) !important;
        color: white !important;
        z-index: 1 !important;
        padding: 18px 0;
        width: 450px !important;
        border-radius: 25px !important;
      }

      position: relative !important;

      .oe_search_button {
        position: absolute !important;
        z-index: 2 !important;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .oe_search_button {
    i {
      color: var(--white) !important;
      font-size: 16px !important;
      font-weight: 600 !important;
      padding: 12px !important;
      background-color: var(--primary) !important;
      border-radius: 25px !important;
    }
  }

  ul {
    li {
      a {
        color: white !important;
      }
    }
  }
}


.o_grid_header_3_cols {
  grid-template-columns: auto 1fr 1fr !important;
}

.o_border_contrast {
  border-color: #FFFFFF99 !important;
}

#top .o_main_nav .o_header_hide_on_scroll .container li {
  flex: 1;
  margin: 0 40px;
}

#top .o_main_nav .o_searchbar_form {
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.60);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  padding: 5px 0;
}

.o_border_contrast .container {
  justify-content: center !important;
}

.o_header_language_selector {
  margin: 0 10px !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.table-responsive {
  background-color: white !important;
}

//@media (max-width: 1200px) {
//  nav {
//    form {
//      margin: 20px 0;
//
//      .input-group {
//        .input_search {
//          width: 100% !important;
//        }
//      }
//    }
//  }
//}